certifi==2025.8.3
charset-normalizer==3.4.3
deprecation==2.1.0
eyeD3==0.9.8
feedparser==6.0.12
filetype==1.2.0
idna==3.10
packaging==25.0
python-magic==0.4.27
requests==2.32.5
sgmllib3k==1.0.0
urllib3==2.5.0
